<?xml version="1.0"?>
<model>
  <name>iris_px4_sensors</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>DRL Project</name>
  </author>
  <description>
    PX4 Iris quadcopter with 180-degree 2D LiDAR and front camera for DRL navigation.
  </description>
</model>
