<?xml version="1.0"?>
<model>
  <name>iris_with_lidar_camera_ros</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>oguz</name>
    <email>oguz@example.com</email>
  </author>
  <description>Composite model: official ArduPilot iris_with_standoffs_demo + 180deg LiDAR + front ROS camera</description>
</model>
