# Varsayılan: LF
* text=auto eol=lf

# Windows'a özel olabilecekler (opsiyonel örnekler)
*.sln text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
