<?xml version="1.0"?>
<model>
  <name>iris_with_lidar_camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>ardupilot_city_sim</name>
    <email>n/a</email>
  </author>
  <description>ArduPilot Iris with front 180 deg lidar and a forward camera.</description>
</model>
