<?xml version="1.0"?>
<model>
  <name>front_camera_ros</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>oguz</name>
    <email>oguz@example.com</email>
  </author>
  <description>ROS camera sensor model publishing /front_camera/image_raw</description>
</model>
