<?xml version="1.0"?>
<model>
  <name>target_marker_red</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>DRL</name>
    <email>n/a</email>
  </author>
  <description>
    Simple red cylinder used as a visual marker for target setpoints.
  </description>
</model>
